@font-face {font-family: 'iconfont';
    src: url('./icons/iconfont.eot'); /* IE9*/
    src: url('./icons/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./icons/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./icons/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./icons/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}
body {
    /*background: #fafafa;*/
    font-family: tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a{text-decoration: none;}

.hide{display: none}

.hd {
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #EEE;
}

.hd h1{text-align: center;}

.bd {min-height: 1000px;}

.yodate-popbox{
    position: absolute;
    top: 170px;
    left: 420px;
    width: 230px;
    height: 0;
    z-index: 99;
}

.date-pop {
    position: relative;
    width: 0;
    height: 0;
}

.yo-date {
    position: absolute;
    margin: 0;
    font-size: 12px;
    font-family: tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.yo-date .arrow{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 7px solid transparent;
    _border: 7px solid #FFF;
}

.dir-default .arrow{
    border-bottom-color: #72C8FA;
    top: -14px;
    left: 10px;
}

.dir-right .arrow{
    border-right-color: #72C8FA;
    top: 7px;
    left: -14px;
}

/*
.yo-date .arrow{
    position: absolute;
    width: 12px;
    height: 12px;
    top: -10px;
    top: -8px\0;
    left: 10px;
    font-size: 23px;
    line-height: 16px;
    color: #72C8FA;
}

.arrow .arrow-inner{
    color: #72C8FA;
}

.arrow .arrow-outer{
    color: #72C8FA;
    margin-top: -16px;
}

.dir-defaul .arrow{}

.dir-right .arrow{ top: 5px; left: -5px;}
*/

.yo-date .date-hd .switch,
.yo-date .date-hd .date-guide,
.yo-date .week-cont,
.yo-date .day-cont,
.yo-date .date-ft{
    width: 210px;
    padding: 0 10px;
}

.yo-date .date-hd {

}
.yo-date .date-hd .switch {
    height: 30px;
    background-color: #8A98B9;
}
.yo-date .date-hd .date-guide {
    height: 30px;
    width: 230px;
    padding: 0;
    background-color: #72C8FA;
}

.yo-date .date-guide .prev,
.yo-date .date-guide .next{
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
}

.yo-date .date-guide .iconfont{
    font-size: 20px;
}

.yo-date .date-guide .nav{
    cursor: pointer;
}

.yo-date .date-guide .iconfont:hover,
.yo-date .date-guide .iconfont.hover{
    color: #F60;
}

.yo-date .date-guide .prev{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;

}

.yo-date .date-guide .next{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.yo-date .date-guide .ym {
    position: absolute;
    width: 170px;
    height: 30px;
    left: 20px;
    margin: 0 10px;
    color: #FFF;
}

/**
 * 无selecter时候的日期格式
 */
.yo-date .ym h3{
    margin: 0 auto;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    color: #606060;
    font-weight: bold;
}

.yo-date .ym-wrap{
    position: absolute;
    height: 2px;
    width: 80px;
    text-align: right;
}

.yo-date .year-wrap {
    top: 0;
    left: 0;
}

.yo-date .month-wrap {
    top: 0;
    left: 80px;
}

.yo-date .ym-inner {
    position: relative;
    width: 80px;
    height: 2px;
}

.yo-date .ym-measure{float: left; padding-left: 3px; font-size: 14px; line-height: 30px;}

.yo-date .date-guide .ym .year-cont{
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
    text-align: left;
}
.yo-date .date-guide .ym .month-cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    margin-left: 10px;
    text-align: left;
}


.yo-date .date-ft {
    background-color: #8A98B9;
}

.yo-date .date-table {
    border: none;
    border-collapse: none;
    color: #606060;
}

.yo-date .week-cont{
    background-color: #FFF;
    font-size: 12px;
    color: #E66B6B;
}

.yo-date .week-cont th{
    color: #E66B6B;
}

.yo-date .day-cont{
    background-color: #fafafa;
}

.yo-date .date-table th,
.yo-date .date-table td {
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.yo-date .date-table td.day{
    border-radius: 50%;
}

.yo-date .week-cont .date-table th{
    height: 40px;
}

.yo-date td.holiday {
    color: #c60306;
    font-size: 10px;
}

.yo-date td.today,
.yo-date td.yestoday,
.yo-date td.tomorrow {
    color: #c60306;
    font-size: 10px;
}

.yo-date td.w0,
.yo-date td.w6{
    color: #c60306;
}

.yo-date td.cur {
    /*background-color: #08D1C4;*/
    background-color: #8A98B9;
    color: #FFF;
}

.yo-date td.cur.gray {
    background-color: transparent;
    color: #CDCCCC;
}

.yo-date td.day.hover,
.yo-date td.day:hover{
    background-color: #A0A0A0;
    color: #FFF;
    cursor: pointer;
}

.yo-date td.old,
.yo-date td.prev-d,
.yo-date td.next-d,
.yo-date td.gray{
    color: #CDCCCC;
}

.yo-date td.gray{
    cursor: not-allowed;
}

.yo-date td.weekend{
    color: #E66B6B;
}
.yo-date .date-map{
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.yo-date .date-map a{
    display: block;
    width: 50px;
    height: 29px;
    margin: 0 auto;
    font: blod 16px tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
}

.yo-date .date-map a:hover{
    color: #08D1C4;
}
